<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
This is a templates, just using it to check the website is working properly or not...<br/>
{{ name }} is from {{ place }}.
<h1>Enter your text here:</h1>
<form action="/punc" method="get">
    <textarea name="text" style="margin: 0px; width: 1518px; height: 222px;"></textarea>
    <input type="checkbox" name="punc"> Remove Puncutuation</input> <br/>
    <input type="checkbox" name="caps"> UPPER CASE</input> <br/>
    <input type="checkbox" name="newline"> New Line Remover</input> <br/>
    <button type="submit"> Click here </button>
</form>
</body>
</html>